    body {
        background: #DADED4;
    }
    
    .navbar {
        background-color: #39603D;
        color: white;
    }
    
    .row {
        background-color: #39603D;
        padding: 1rem;
        color: white;
        border: rgb(0, 0, 0) 1px solid;
    }
    
    .col {
        background-color: #39603D;
        color: white;
        border: rgb(0, 0, 0) 1px solid;
    }
    
    .card {
        color: black;
    }
    
    .navbar-brand {
        background-color: #39603D;
        color: white;
        border: rgb(0, 0, 0) 1px solid;
        min-width: 10%;
        min-height: 10%;
    }
    
    .caption {
        background-color: #39603D;
        color: white;
        border: rgb(0, 0, 0) 1px solid;
        min-width: 10%;
        min-height: 10%;
    }
    
    .logo-text {
        color: white;
        border: rgb(255, 255, 255) 2px solid;
        text-align: center;
        padding: 1rem;
    }
    
    .nav-link active {
        color: white;
    }

/* Ollis Part */

.hover-button-meals {
  box-sizing: border-box;
}

.hover-button-meals {
  background-color: grey;
  transition: transform 0.8s;
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 15px;
  padding: 10px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: 5px;
}

.hover-button-meals:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  background: pink;
}
